/* Sourcebase CSS starter file MODIFIED
Version 1.00 (September 26th 2019 build)
Most recent: 1.00 (September 26th 2019 build)
CSS starter script
*/
/* Start of stylesheet rules */
/* Grid system */

/* Transparent boxes */
div.background {
  background: url(klematis.jpg) repeat;
  border: 2px solid black;
}
div.transbox {
  margin-top: 0px;
  margin-bottom: 0px; 
  margin-right: 0px;
  margin-left: 0px;
  background-color: #00BFFF; /* The text was there, the background was the wrong color. A new beautiful shade of blue was added to fix this - April 6th 2019 */
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}
div.transbox p {
  margin: 1%; /* make sure this stays at 1%. At 5%, there is a large spacing issue between each new paragraph */
  font-weight: bold;
  color: #ffffff;
}